<div class="wrapper mt-2 p-3">

  <div class="row mb-2">
    <div class="col-12">
      <h6 class="title-section">Mi ranking profesional</h6>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ul>
        <li>
          <div class="row">
            <div class="col-6">
              <p class="skill">PYTHON</p>
            </div>
            <div class="col-6">
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 80%; background-color: #13928c"
                     aria-valuenow="75" aria-valuemin="0"
                     aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-6">
              <p class="skill">R</p>
            </div>
            <div class="col-6">
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 65%; background-color: #13928c"
                     aria-valuenow="75" aria-valuemin="0"
                     aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-6">
              <p class="skill">JAVA</p>
            </div>
            <div class="col-6">
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 55%; background-color: #13928c"
                     aria-valuenow="75" aria-valuemin="0"
                     aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-6">
              <p class="skill">C++</p>
            </div>
            <div class="col-6">
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 50%; background-color: #13928c"
                     aria-valuenow="75" aria-valuemin="0"
                     aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-12">
      <p class="go-ranking"><a routerLink="#">Ver ranking completo</a></p>
    </div>
  </div>
</div>
