.wrapper {
  background-color: #fff;
  border-radius: 10px;
}

.img-avatar {
  width: 35px;
  border-radius: 50%;
}

.btn-post {
  width: 100%;
  border-radius: 20px;
  border: 1px solid #d0cfcf;
  background-color: #e5e4e4;
}
.img-tool{
  width: 20px;
  margin-right: 5px;
}
.text-tool{
  display: inline;
  font-size: 14px;
  color: #666;
  text-decoration: none;
}
