<div class="container p-3">
	<div class="row">
		<div class="col-4">
			<h3 class="logo">

				Techmunity
			</h3>
		</div>
		<div class="col-8 text-end">
			<button class="btn btn-light btn-register" routerLink="/register">Unirse ahora</button>
			&nbsp;
			<button class="btn btn-login" routerLink="/login">Iniciar sesión</button>
		</div>
	</div>
	<br>
	<br>
	<br>
	<div class="row">
		<div class="col-6">
			<h1 class="display-3 intro">
				¡Bienvenido a tu red social colaborativa Techy!
			</h1>
		</div>
		<div class="col-6">
			<img class="img-fluid" src="../../../assets/images/home/bg1.png" alt="">
		</div>
	</div>
	<br>
	<br>
</div>
<div class="container-fluid section2 p-4">
	<div class="container">
		<br>
		<br>
		<br>
		<br>
		<div class="row">
			<div class="col-6">
				<h1 class="display-4">Comparte tus conocimientos en el área que prefieras</h1>
			</div>
			<div class="col-1"></div>
			<div class="col-5">
				<h5>ÁREAS SUGERIDAS</h5>
				<div>
					<button class="btn btn-category">Frontend</button>
					<button class="btn btn-category">Backend</button>
					<button class="btn btn-category">Diseño UI/UX</button>
					<button class="btn btn-category">Ilustración</button>
					<button class="btn btn-category">Desarrollo mobile</button>
					<button class="btn btn-category">Redes</button>
					<button class="btn btn-category">Soporte TI</button>
					<button class="btn btn-category">IA</button>
					<button class="btn btn-category">Big data</button>
					<button class="btn btn-category">IoT</button>
					<button class="btn btn-category">Machine learning</button>
					<button class="btn btn-category">Autocad</button>
					<button class="btn btn-category">Data scientist</button>
					<button class="btn btn-category">Power BI</button>
					<button class="btn btn-category">TPC/IP</button>
					<button class="btn btn-category">Fotografía</button>
				</div>
			</div>
		</div>
		<br>
		<br>
		<br>
		<br>
	</div>
</div>
<div class="container-fluid section3 p-4">
	<div class="container">
		<br>
		<br>
		<br>
		<br>
		<div class="row">
			<div class="col-6">
				<h1 class="display-4 section-text">Disfruta de colaborar con personas que pueden ayudarte</h1>
			</div>
			<div class="col-6">
				<img class="img-fluid" src="../../../assets/images/home/bg2.png" alt="">
			</div>
		</div>
		<br>
		<br>
		<br>
		<br>
	</div>
</div>
<app-footer></app-footer>
