<div class="container-fluid">
    <div class="container">
        <br>
        <div class="row">
            <div class="col-2">
                <h5>Techmunity</h5>
                <p>Copyright 2021</p>
            </div>
            <div class="col-1">

            </div>
            <div class="col-9">
                <ul>
                    <li>
                        <a href="#">Acerca de</a>
                    </li>
                    <li>
                        <a href="#">Condiciones de uso</a>
                    </li>
                    <li>
                        <a href="#">Política de privacidad</a>
                    </li>
                    <li>
                        <a href="#">Política de cookies</a>
                    </li>
                    <li>
                        <a href="#">Contáctenos</a>
                    </li>
                </ul>
            </div>
        </div>
        <br>
    </div>
</div>